<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Button add part</title>
</head>
<body>
<div th:fragment="addPart">
    <div class="row g-3">
        <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                   aria-label="Загрузка">
            <button class="btn btn-success" type="button" id="uploadPartsList">Upload parts list</button>
        </div>

        <button id="addPartOpenForm" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addPartModal">
            Add part
        </button>
        <button id="deletePart" type="button" class="btn btn-danger">
            Delete part
        </button>
    </div>
    <div class="modal fade modal-sm" id="addPartModal" tabindex="-1" aria-labelledby="addPartModallLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPartModalLabel">Add part</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <label for="identNumber" class="form-label">Ident number:
                        <input id="identNumber" type="text" name="identNumber" class="form-control"></label><br>

                    <label for="partName" class="form-label">Part name:
                        <input id="partName" type="text" name="partName" class="form-control"></label><br>
                </div>
                <div class="modal-footer">
                    <button id="addPart" type="button" class="btn btn-primary" data-bs-dismiss="modal">Add part
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/static/js/button/forAddMachine.js" th:src="@{../static/js/button/forPartsList.js}"
        type="text/javascript"></script>
</body>
</html>